* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px){
.container{
    background: white;
    padding: 20px;
    font-family: "Poppins", system-ui;
    position: fixed;
    left: 10%;
    right: 10%;
    top: 10%;
}
.container .form .header1{
    padding: 20px;
    text-align: center;
}
.container .form .header3{
    padding: 2px;
    text-align: center;
    margin-bottom: 15px;
    display: none;
}
.container .form .password{
    display: none;
}
.container .form form{
    display: grid;
}
.container .alternative{
    text-align: center;
    font-size: 12px;
    width: 100%;
}
.container .form .alternative .log{
    color: rgb(30, 133, 102);
    text-decoration: none;
}
.container .form input {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: 200;
    outline-color: #10a37f;
    outline-width: 1px;
    transition: 3ms;
}
.container .form input:hover {
    border: 1px solid #10a37f;
    outline-color:#10a37f;
    color: #10a37f;
}
.container .form button {
    padding: 10px;
    border: 1px solid #10a37f;
    background: #10a37f;
    border-radius: 6px;
    margin-bottom: 15px;
    color: white;
    transition: 3ms;
}
.container .form button:hover {
    background: #028e6b;
}
.container .or{
    text-align: center;
    margin-top: 20px;
}
.container .options .google button{
    display: flex;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
    background: white;
}
.container .options .google img{
    width: 22px;
    margin-right: 5px;
}
.container .options .microSoft button{
    display: flex;
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
    background: white;
}
.container .options .microSoft img{
    width: 20px;
    margin-right: 5px;
}
.container .options .apple button{
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
    background: white;
}
.container .options .apple img{
    width: 22px;
    margin-right: 5px;
}
.container .options .text22{
    padding: 5px;
    text-decoration: none;
    color: black;
}
.container .options button {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: 200;
    outline-color: #10a37f;
    outline-width: 1px;
    transition: 3ms;
}
.container .options button:hover {
    border: 1px solid #10a37f;
    outline-color:#10a37f;
    color: #10a37f;
    background: rgb(205, 205, 205);
}



.container2{
    background: white;
    padding: 20px;
    font-family: "Poppins", system-ui;
    position: fixed;
    left: 10%;
    right: 10%;
    top: 10%;
}
.container2 .form .header2{
    text-align: center;
    margin-bottom: 15px;
}
.container2 .form form{
    display: grid;
}
.container2 .alternative{
    text-align: center;
    font-size: 12px;
    width: 100%;
}
.container2 .alternative .log{
    color: rgb(30, 133, 102);
    text-decoration: none;
}
.container2 .form input {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: 200;
    outline-color: #10a37f;
    outline-width: 1px;
    transition: 3ms;
}
.container2 .form input:hover {
    border: 1px solid #10a37f;
    outline-color:#10a37f;
    color: #10a37f;
}
.container2 .form button {
    padding: 10px;
    border: 1px solid #10a37f;
    background: #10a37f;
    border-radius: 6px;
    margin-bottom: 15px;
    color: white;
    transition: 3ms;
}
.container2 .form button:hover {
    background: #028e6b;
}
.container2 .or{
    text-align: center;
    margin-top: 20px;
}
.container2 .options .google button{
    display: flex;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
    background: white;
}
.container2 .options .google img{
    width: 22px;
    margin-right: 5px;
}
.container2 .options .microSoft button{
    display: flex;
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
    background: white;
}
.container2 .options .microSoft img{
    width: 20px;
    margin-right: 5px;
}
.container2 .options .apple button{
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 6px;
    background: white;
}
.container2 .options .apple img{
    width: 22px;
    margin-right: 5px;
}
.container2 .options .text22{
    padding: 5px;
    text-decoration: none;
    color: black;
}
.container2 .options button {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 10px;
    font-weight: 200;
    outline-color: #10a37f;
    outline-width: 1px;
    transition: 3ms;
}
.container2 .options button:hover {
    border: 1px solid #10a37f;
    outline-color:#10a37f;
    color: #10a37f;
    background: rgb(205, 205, 205);
}
}



@media only screen and (min-width: 768px){
    .container{
        background: white;
        padding: 20px;
        font-family: "Poppins", system-ui;
        position: fixed;
        left: 38%;
        right: 38%;
        top: 20%;
    }
    .container .form .header1{
        text-align: center;
        margin-bottom: 15px;
    }
    .container .form .header3{
        padding: 0px;
        text-align: center;
        margin-bottom: 15px;
        display: none;
    }
    .container .form .password{
        display: none;
    }
    .container .form form{
        display: grid;
    }
    .container .alternative{
        text-align: center;
        font-size: 12px;
        width: 100%;
    }
    .container .alternative .log{
        color: rgb(30, 133, 102);
        text-decoration: none;
    }
    .container .form input {
        padding: 15px;
        border: 1px solid grey;
        border-radius: 6px;
        margin-bottom: 15px;
        font-size: 10px;
        font-weight: 200;
        outline-color: #10a37f;
        outline-width: 1px;
        transition: 3ms;
    }
    .container .form input:hover {
        border: 1px solid #10a37f;
        outline-color:#10a37f;
    }
    .container .form button {
        padding: 14px;
        border: 1px solid #10a37f;
        background: #10a37f;
        border-radius: 6px;
        margin-bottom: 15px;
        color: white;
        transition: 3ms;
    }
    .container .form button:hover {
        background: #028e6b;
    }
    .container .or{
        text-align: center;
        margin-top: 20px;
    }
    .container .options .google button{
        display: flex;
        width: 100%;
        margin-top: 18px;
        margin-bottom: 15px;
        padding: 8px;
        border: 1px solid grey;
        border-radius: 6px;
        background: white;
    }
    .container .options .google img{
        width: 22px;
        margin-right: 5px;
    }
    .container .options .microSoft button{
        display: flex;
        width: 100%;
        padding: 8px;
        border: 1px solid grey;
        border-radius: 6px;
        background: white;
    }
    .container .options .microSoft img{
        width: 20px;
        margin-right: 5px;
    }
    .container .options .apple button{
        display: flex;
        width: 100%;
        margin-top: 10px;
        padding: 8px;
        border: 1px solid grey;
        border-radius: 6px;
        background: white;
    }
    .container .options .apple img{
        width: 22px;
        margin-right: 5px;
    }
    .container .options .text22{
        padding: 5px;
        text-decoration: none;
        color: black;
    }
    .container .options button {
        padding: 15px;
        border: 1px solid grey;
        border-radius: 6px;
        margin-bottom: 15px;
        font-size: 10px;
        font-weight: 200;
        outline-color: #10a37f;
        outline-width: 1px;
        transition: 3ms;
    }
    .container .options button:hover {
        border: 1px solid #10a37f;
        outline-color:#10a37f;
        color: #10a37f;
        background: rgb(205, 205, 205);
    }



    
    .container2{
        background: white;
        padding: 20px;
        font-family: "Poppins", system-ui;
        position: fixed;
        left: 38%;
        right: 38%;
        top: 20%;
    }
    .container2 .form .header2{
        margin-bottom: 15px;
        text-align: center;
    }
    .container2 .form form{
        display: grid;
    }
    .container2 .alternative{
        text-align: center;
        font-size: 12px;
        width: 100%;
    }
    .container2 .alternative .log{
        color: rgb(30, 133, 102);
        text-decoration: none;
    }
    .container2 .form input {
        padding: 15px;
        border: 1px solid grey;
        border-radius: 6px;
        margin-bottom: 15px;
        font-size: 10px;
        font-weight: 200;
        outline-color: #10a37f;
        outline-width: 1px;
        transition: 3ms;
    }
    .container2 .form input:hover {
        border: 1px solid #10a37f;
        outline-color:#10a37f;
        color: #10a37f;
    }
    .container2 .form button {
        padding: 14px;
        border: 1px solid #10a37f;
        background: #10a37f;
        border-radius: 6px;
        margin-bottom: 15px;
        color: white;
        transition: 3ms;
    }
    .container2 .form button:hover {
        background: #028e6b;
    }
    .container2 .or{
        text-align: center;
        margin-top: 20px;
    }
    .container2 .options .google button{
        display: flex;
        width: 100%;
        margin-top: 18px;
        margin-bottom: 15px;
        padding: 8px;
        border: 1px solid grey;
        border-radius: 6px;
        background: white;
    }
    .container2 .options .google img{
        width: 22px;
        margin-right: 5px;
    }
    .container2 .options .microSoft button{
        display: flex;
        width: 100%;
        padding: 8px;
        border: 1px solid grey;
        border-radius: 6px;
        background: white;
    }
    .container2 .options .microSoft img{
        width: 20px;
        margin-right: 5px;
    }
    .container2 .options .apple button{
        display: flex;
        width: 100%;
        margin-top: 10px;
        padding: 8px;
        border: 1px solid grey;
        border-radius: 6px;
        background: white;
    }
    .container2 .options .apple img{
        width: 22px;
        margin-right: 5px;
    }
    .container2 .options .text22{
        padding: 5px;
        text-decoration: none;
        color: black;
    }
    .container2 .options button {
        padding: 15px;
        border: 1px solid grey;
        border-radius: 6px;
        margin-bottom: 15px;
        font-size: 10px;
        font-weight: 200;
        outline-color: #10a37f;
        outline-width: 1px;
        transition: 3ms;
    }
    .container2 .options button:hover {
        border: 1px solid #10a37f;
        outline-color:#10a37f;
        color: #10a37f;
        background: rgb(205, 205, 205);
    }

}